// WooCommerce Cart

.woocommerce,
.woocommerce-page {
	.cart-item {
		display: flex;
		flex-direction: column;
		border-radius: 0.5rem;
		@extend .box-shadow;

		.product-header {
		}

		.product-thumbnail {
			a {
				display: block;
				width: 100%;
				height: 150px;
				overflow: hidden;
			}

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		.product-body {
			display: grid;
			align-items: center;
			gap: calc(var(--wp--style--block-gap) / 2);
			padding: calc(var(--wp--style--block-gap) / 2);
			grid-template-areas:
				"DC DC PC"
				"QT ST RB";

			@media (min-width: 992px) {
				gap: var(--wp--style--block-gap);
			}
		}

		.product-description {
			grid-area: DC;
			min-height: 120px;
			font-size: var(--wp--preset--font-size--small);
			color: var(--wp--preset--color--featured);
		}

		.product-name {
			font-size: var(--wp--preset--font-size--medium);
			font-weight: 500;
			color: var(--wp--preset--color--black);
		}

		.product-price {
			grid-area: PC;
			display: flex;
			align-self: flex-start;
			justify-content: flex-end;
			font-size: var(--wp--preset--font-size--medium);
			font-weight: 500;
			color: var(--wp--preset--color--black);

			@media (max-width: 991.98px) {
				font-size: var(--wp--preset--font-size--normal);
			}
		}

		.product-quantity {
			grid-area: QT;
		}

		.product-subtotal {
			grid-area: ST;
		}

		.product-remove {
			grid-area: RB;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: 100%;

			a {
				display: inherit;
				justify-content: inherit;
				align-items: inherit;
				font-size: var(--wp--preset--font-size--normal);
				height: var(--wp--preset--font-size--normal);
				width: var(--wp--preset--font-size--normal);
				border-radius: 0;

				&:hover {
					background: none;
				}
			}
		}
	}
}
