// Woocommerce Cart Floating Button

.cart-float-button {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 1rem;
	bottom: 5rem;
	min-width: 60px;
	min-height: 60px;
	font-weight: 600;
	color: var(--wp--preset--color--white);
	border-radius: 1.2rem;
	background-color: var(--wp--preset--color--primary);
	z-index: 1080;

	@extend .box-shadow-even;

	@media (min-width: 992px) {
		right: 0;
		bottom: 1rem;
		min-width: 100px;
		min-height: 80px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	a {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.8rem;
		padding: 1rem;

		@media (min-width: 992px) {
			padding: 1.8rem 0.8rem 0.8rem 1.3rem;
		}

		&:hover,
		&:focus,
		&:active {
			color: inherit;
			text-decoration: none;
		}
	}

	svg {
		fill: var(--wp--preset--color--white);
		transform: scale(1.3);

		@media (min-width: 992px) {
			transform: scale(1.6);
		}
	}

	&__count {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.8rem;
		height: 1.8rem;
		font-size: 1.2rem;
		line-height: 1;
		border-radius: 100%;
		color: var(--wp--preset--color--primary);
		background-color: var(--wp--preset--color--white);
		transform: translate(-50%, -100%);
		z-index: 1080;
	}

	&__count,
	&__total {
		display: none;

		@media (min-width: 992px) {
			display: flex;
		}
	}

	&__hover {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		border-top-left-radius: 1.2rem;
		border-bottom-left-radius: 1.2rem;
		background-color: var(--wp--preset--color--primary);
		z-index: 1090;

		visibility: hidden;

		opacity: 0;
		transition: opacity 0.25s;

		svg {
			transform: scale(1);
		}

		@media (min-width: 992px) {
			visibility: visible;

			&:hover,
			&:focus,
			&:active {
				opacity: 1;
			}
		}
	}
}
