// WooCommerce Account Navigation

.woocommerce-account {
	.woocommerce-MyAccount-navigation {
		@media (max-width: 768px) {
			margin-bottom: var(--wp--style--block-gap);
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.woocommerce-MyAccount-navigation-link {
			display: flex;

			a {
				@extend .button-primary;

				display: flex;
				align-items: center;
				justify-content: center;
				flex: 1;
				font-weight: 400;
				font-size: var(--wp--preset--font-size--medium);
				border-radius: 0;
				padding-top: 0.875rem;
				padding-right: inherit;
				padding-bottom: 0.875rem;
				padding-left: inherit;

				&:hover,
				&:active,
				&:focus {
					text-decoration: none;
				}
			}

			&:not(.is-active) {
				a {
				}
			}

			&.is-active {
				a {
					background-color: #670a0a;
				}
			}

			&:not(:first-of-type) {
				margin-top: calc(var(--wp--style--block-gap) / 3);
			}
		}
	}
}
