// WooCommerce Account Content

.woocommerce-account {
	.woocommerce-MyAccount-content {
		@media (min-width: 992px) {
			width: calc(70% - var(--wp--style--block-gap) * 2);
		}

		.woocommerce-info {
			.button {
				order: 99;
			}
		}

		.addresses {
			.woocommerce-Address {
				&:not(:first-of-type) {
					margin-top: var(--wp--style--block-gap);

					@media (min-width: 768px) {
						margin-top: 0;
					}
				}

				header {
					margin-bottom: calc(var(--wp--style--block-gap) / 2);

					h3 {
						font-weight: 700;
						margin-bottom: 0;
					}
				}

				address {
					padding: calc(var(--wp--style--block-gap) / 2);
					border-radius: 0.5rem;
					@extend .box-shadow;
				}
			}
		}

		.edit-account {
			.button {
				@extend .button-wide;
			}
		}
	}
}
