// Woocommerce Lost Password

.woocommerce-account,
.woocommerce-lost-password {
	.woocommerce-ResetPassword {
		max-width: var(--container-md);
		margin-right: auto;
		margin-left: auto;

		.button {
			@extend .button-primary;
			@extend .button-wide;
			width: 100%;
			margin-bottom: calc(var(--wp--style--block-gap) / 2);
		}
	}
}
