// WooCommerce Login and Registration

.woocommerce-account {
	.customer-login {
		display: flex;
		flex-direction: column;
		gap: var(--wp--style--block-gap);
		max-width: var(--container-md);
		margin-right: auto;
		margin-left: auto;

		h2 {
			font-weight: 700;
			text-align: center;
		}

		&.col2-set {
			.col-1,
			.col-2 {
				float: unset;
				width: 100%;
			}

			.col-1 {
				position: relative;

				&::after {
					content: "";
					position: absolute;
					display: block;
					width: 100%;
					height: 1px;
					border-bottom: 1px solid var(--wp--preset--color--featured);
					opacity: 0.3;
				}
			}
		}

		form.login,
		form.register {
			border: 0;
			margin: 0;
			padding: 0;

			.button {
				@extend .button-primary;
				@extend .button-wide;
				width: 100%;
				margin-bottom: calc(var(--wp--style--block-gap) / 2);
			}
		}

		form.login {
			margin-bottom: var(--wp--style--block-gap);

			.lost_password {
				font-size: var(--wp--preset--font-size--small);
			}
		}

		.woocommerce-privacy-policy-text {
			p {
				margin-top: calc(var(--wp--style--block-gap) / 2);
				margin-bottom: calc(var(--wp--style--block-gap) / 2);
				font-size: var(--wp--preset--font-size--small);
				text-align: center;
			}
		}
	}
}
