// WooCommerce Single Product

.woocommerce {
	&.single-product {
		div.product {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 0 var(--wp--style--block-gap);
			grid-template-areas:
				"images"
				"summary"
				"reviews"
				"upsells"
				"related";

			@media (min-width: 992px) {
				grid-template-columns: repeat(2, 1fr);
				grid-template-areas:
					"images summary"
					"reviews reviews"
					"upsells upsells"
					"related related";
			}

			div.summary,
			div.images {
				float: unset;
				width: 100%;
				margin-bottom: 0;
			}

			div.images {
				grid-area: images;
			}

			&.product-type-variable {
				div.summary {
					grid-template-areas:
						"title title title title"
						"rating rating rating rating"
						"description description description description"
						"meta meta meta meta"
						"price price price ."
						"cartForm cartForm cartForm cartForm";
				}
			}

			&.product-type-simple {
				div.summary {
					grid-template-areas:
						"title title title title"
						"rating rating rating rating"
						"description description description description"
						"meta meta meta meta"
						"price price price ."
						"stock stock . ."
						"cartForm cartForm cartForm cartForm";
				}
			}

			&.product-type-grouped {
				div.summary {
					grid-template-areas:
						"title title title title"
						"rating rating rating rating"
						"description description description description"
						"meta meta meta meta"
						"price price price ."
						"cartForm cartForm cartForm cartForm";
				}
			}

			div.summary {
				grid-area: summary;

				display: grid;
				grid: auto / repeat(4, 1fr);
				gap: calc(var(--wp--style--block-gap) / 2);

				.product_title,
				.price,
				& > .stock,
				.cart {
					margin-bottom: 0;
				}

				.product_title {
					grid-area: title;
					font-weight: 600;
					line-height: 1;
				}

				.woocommerce-product-rating {
					grid-area: rating;
					margin: 0;
					line-height: 1;

					.star-rating {
						margin: 0;
					}

					.woocommerce-review-link {
						display: none;
					}
				}

				.price {
					grid-area: price;

					display: flex;
					align-items: center;
					gap: calc(var(--wp--style--block-gap) / 2);
					font-size: 2.5rem;
					font-weight: 600;
					color: var(--wp--preset--color--black);

					ins {
						color: inherit;
						text-decoration: none;
					}

					del {
						order: 99;
						font-size: 2rem;
						font-weight: normal;
						color: var(--wp--preset--color--featured);
					}
				}

				& > .stock {
					grid-area: stock;
				}

				.description {
					grid-area: description;
				}

				form.cart {
					grid-area: cartForm;

					.variations {
						text-align: left;

						label {
							display: inline-block;
							padding-top: 0.875rem;
							font-size: 1.15rem;
							font-weight: 600;
							line-height: 1.5;
						}
					}

					&.grouped_form {
						flex-direction: column;
						align-items: flex-start;

						.group_table {
							.stock {
								margin-bottom: 0;
							}
						}

						.single_add_to_cart_button {
							margin-top: calc(var(--wp--style--block-gap) / 2);
							margin-left: 0;
						}
					}

					&:not(.variations_form),
					.variations_button {
						display: flex;
					}

					.single_add_to_cart_button {
						@extend .button-wide;
						@extend .button-with-icon;
						font-weight: 600;

						&.disabled,
						&:disabled,
						&:disabled[disabled] {
							@extend .button-outline;
							opacity: 1;
						}

						@media (min-width: 992px) {
							margin-left: 1rem;
						}
					}

					.quantity,
					.single_add_to_cart_button {
						max-height: 48px;
					}
				}

				.product_meta {
					grid-area: meta;
				}
			}

			.reviews {
				grid-area: reviews;
				margin-top: var(--wp--style--block-gap);
			}

			.upsells {
				grid-area: upsells;
				margin-top: var(--wp--style--block-gap);
			}

			.related {
				grid-area: related;
				margin-bottom: 0;
			}
		}
	}
}
