// Variables and Configs

:root {
	--container-xs: 100%;
	--container-sm: 540px;
	--container-md: 720px;
	--container-lg: 960px;
	--container-xl: 1140px;
	--container-xxl: 1320px;
	--container-wide: 1440px;
}
