// WP Login

%button {
	padding: 0 1.5rem;
	text-align: center;
	color: #ffffff;
	border: 1px solid #b82323;
	border-radius: 0.5rem;
	background: #b82323;
	box-sizing: border-box;
	transition: all 0.15s ease-in-out;

	&:hover,
	&:active,
	&:focus {
		filter: brightness(95%);
		cursor: pointer;
		color: #ffffff;
		border-color: #b82323;
		background: #b82323;
	}
}

#login,
.login {
	h1 {
		a {
			height: 40px;
			width: 130px;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	form {
		border: 0;
		border-radius: 0.5rem;
		box-shadow: 0 3px 6px rgb(0, 0, 0, 0.06), 0 3px 6px rgb(0, 0, 0, 0.03);
	}

	.input {
		padding: 0.5rem 1rem;
		font-size: 1rem;
		border: 0;
		border-radius: 0.5rem;
		background: #eeeeee;
		background-clip: padding-box;
		box-sizing: border-box;

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			transition: background-color 600000s 0s, color 600000s 0s;
			box-shadow: 0 0 0 30px transparent inset;
			-webkit-box-shadow: 0 0 0 30px transparent inset;
			-webkit-text-fill-color: inherit;
		}

		&:focus {
			box-shadow: 0 0 0 1px #000000;
		}
	}

	.button-primary {
		@extend %button;
	}

	#nav {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 0;

		a {
			@extend %button;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}
	}

	.button.wp-hide-pw {
		color: #2b2b2b;
	}
}

.language-switcher {
	.button {
		@extend %button;
	}
}
