// WooCommerce Table

.woocommerce,
.woocommerce-page {
	table {
		&.shop_table {
			border: 0;
			border-collapse: collapse;
			border-radius: 0.5rem;
			@extend .box-shadow;

			thead,
			tbody,
			tfoot {
				border: 0 !important;

				tr,
				th,
				td {
					position: relative;
					border: 0 !important;
				}

				th,
				td {
					padding: calc(var(--wp--style--block-gap) / 2);

					@media (min-width: 992px) {
						padding: var(--wp--style--block-gap);
					}
				}
			}

			tr {
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: calc(var(--wp--style--block-gap));
					width: calc(100% - (var(--wp--style--block-gap) * 2));
					height: 1px;
					border-bottom-width: 1px;
					border-bottom-style: solid;
					border-bottom-color: var(--wp--preset--color--featured);
					opacity: 0.3;
				}
			}

			td {
				@media (min-width: 992px) {
					&:not(:last-of-type) {
						&::after {
							content: "";
							position: absolute;
							top: 50%;
							right: 0;
							display: block;
							width: 1px;
							height: 45%;
							border-right-width: 1px;
							border-right-style: solid;
							border-right-color: var(--wp--preset--color--featured);
							opacity: 0.3;
							transform: translateY(-50%);
						}
					}
				}
			}

			.product-thumbnail {
				img {
					max-width: 100px;
				}
			}

			.product-name,
			.product-price,
			.product-total {
				font-size: var(--wp--preset--font-size--medium);
				font-weight: 700;
			}

			.product-quantity,
			.product-description {
				font-size: var(--wp--preset--font-size--normal);
				color: var(--wp--preset--color--featured);
				font-weight: 400;
			}
		}
	}
}
