// WooCoomerce Buttons

.woocommerce {
	#respond input#submit {
		@extend .button-success;
		@extend .button-wide;
	}

	.button,
	a.button,
	button.button,
	input.button {
		&,
		&.alt {
			@extend .button-outline;

			&.disabled,
			&:disabled,
			&:disabled[disabled] {
				@extend .button-primary;

				&:hover,
				&:active,
				&:focus {
					cursor: not-allowed !important;
				}
			}
		}
	}
}
