// Woocommerce Quantity Input

.quantity {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 0.4rem;
	padding-left: 0.4rem;
	border: 1px solid var(--wp--preset--color--featured);
	border-radius: 0.5rem;

	button {
		border: 0 !important;
		background-color: transparent !important;

		&:hover {
			cursor: pointer;
		}
	}

	input {
		min-height: unset;
		padding: 0;
		font-size: 0.9rem;
		line-height: 1;
		background: transparent;
		appearance: textfield;
		border: 0;
		border-radius: 0;
		outline: 0;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}
