// WooCommerce Notices

.woocommerce,
.woocommerce-page {
	.woocommerce-notices-wrapper {
	}

	.woocommerce-error,
	.woocommerce-info,
	.woocommerce-message {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: calc(var(--wp--style--block-gap) / 2);
		padding: calc(var(--wp--style--block-gap) / 2);
		background-color: var(--wp--preset--color--background);
		color: var(--wp--preset--color--black);

		@media (min-width: 992px) {
			align-items: center;
		}

		&::before {
			position: relative;
			top: unset;
			left: unset;
		}

		& > span,
		& > li {
			display: flex;
			flex: 1;
			flex-direction: column-reverse;
			align-items: stretch;
			gap: var(--wp--style--block-gap);

			@media (min-width: 992px) {
				flex-direction: row-reverse;
				justify-content: flex-end;
				align-items: center;
			}
		}

		.button {
			@extend .button-base;

			padding-right: inherit;
			padding-left: inherit;
		}
	}

	.woocommerce-error {
		border-top-color: var(--wp--preset--color--error);

		&::before {
			color: var(--wp--preset--color--error);
		}

		.button {
			@extend .button-error;
		}
	}

	.woocommerce-info {
		border-top-color: var(--wp--preset--color--info);

		&::before {
			color: var(--wp--preset--color--info);
		}

		.button {
			@extend .button-info;
		}
	}

	.woocommerce-message {
		border-top-color: var(--wp--preset--color--success);

		&::before {
			color: var(--wp--preset--color--success);
		}

		.button {
			@extend .button-success;
		}
	}
}
