// Categories List

.categories-list {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding: 0;
	list-style: none;
	overflow-y: hidden;
	overflow-x: auto;

	&::-webkit-scrollbar {
		display: none;
	}
}

.category-item {
	position: relative;
	min-width: 86px;
	max-width: 86px;
	min-height: 132px;
	max-height: 132px;

	border-radius: 0.5rem;

	@media (min-width: 768px) {
		min-width: 197px;
		max-width: 197px;
		min-height: 193px;
		max-height: 193px;
	}

	a {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 0.5rem;
			background: linear-gradient(0deg, var(--wp--preset--color--secondary) 0%, transparent 100%);
		}
	}

	img {
		width: 100%;
		height: 100%;
		border-radius: 0.5rem;
		object-fit: cover;
	}

	span {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 0.5rem;
		font-size: 1rem;
		font-weight: 500;
		color: var(--wp--preset--color--white);
	}
}
