// WooCommerce Checkout Billing

.woocommerce-checkout {
	h3 {
		margin-bottom: var(--wp--style--block-gap);
		font-size: var(--wp--preset--font-size--large);
		font-weight: 700;
	}

	.col2-set {
		margin-bottom: var(--wp--style--block-gap);

		.col-1 {
			@media (min-width: 992px) {
				position: relative;
				width: 54%;

				&::after {
					content: "";
					position: absolute;
					top: 0;
					right: -7.5%;
					display: block;
					width: 1px;
					height: 100%;
					border-right-width: 1px;
					border-right-style: solid;
					border-right-color: var(--wp--preset--color--featured);
					opacity: 0.3;
				}
			}
		}

		.col-2 {
			@media (max-width: 991.98px) {
				margin-top: var(--wp--style--block-gap);
			}

			@media (min-width: 992px) {
				width: 38%;
			}
		}
	}

	form.checkout-coupon {
		display: flex;
		flex-direction: column;
		gap: var(--wp--style--block-gap);
		margin-bottom: var(--wp--style--block-gap);

		@media (min-width: 768px) {
			flex-direction: row;
		}

		.button {
			@extend .button-primary;
			@extend .button-wide;
		}
	}

	.woocommerce-billing-fields,
	.woocommerce-shipping-fields,
	.woocommerce-additional-fields,
	#payment, // To overwrite the woocommerce rule
	.woocommerce-checkout-payment {
		@extend .box-shadow;
		padding: calc(var(--wp--style--block-gap) / 2);
		border-radius: 0.5rem;
		background-color: var(--wp--preset--color--white);

		@media (min-width: 992px) {
			padding: var(--wp--style--block-gap);
		}
	}

	.woocommerce-shipping-fields,
	.woocommerce-additional-fields {
		margin-top: var(--wp--style--block-gap);
	}

	.woocommerce-shipping-fields {
		.ship-to-different-address {
			label {
				display: flex;
				align-items: center;
				font-size: var(--wp--preset--font-size--normal);
			}
		}
	}

	#payment,
	.woocommerce-checkout-payment {
		div.payment_box {
			background-color: var(--wp--preset--color--background);

			&::before {
				border-bottom-color: var(--wp--preset--color--background);
			}
		}

		div.form-row,
		ul.payment_methods {
			padding: 0;
		}

		ul.payment_methods {
			padding-bottom: var(--wp--style--block-gap);
		}

		div.place-order {
			padding-top: var(--wp--style--block-gap);
		}

		.button {
			@extend .button-primary;
			@extend .button-wide;
		}
	}

	table.woocommerce-checkout-review-order-table {
		@media (max-width: 991.98px) {
			display: flex;
			flex-direction: column;

			.cart_item {
				display: grid;
				grid-template-areas:
					"PN PI"
					"PD PI"
					"PT PI";
				align-items: flex-start;
				justify-content: space-between;
				gap: calc(var(--wp--style--block-gap) / 2);
				padding: calc(var(--wp--style--block-gap) / 2);

				&::after {
					left: calc(var(--wp--style--block-gap) / 2);
					width: calc(100% - var(--wp--style--block-gap));
				}
			}

			.product-name,
			.product-description,
			.product-total,
			.product-price,
			.product-thumbnail {
				padding: 0;
			}

			.product-name {
				grid-area: PN;
				font-size: var(--wp--preset--font-size--normal);
			}

			.product-description {
				grid-area: PD;
			}

			.product-price,
			.product-total {
				grid-area: PT;
			}

			.product-thumbnail {
				grid-area: PI;

				img {
					max-width: 130px;
				}
			}
		}
	}
}
