// Woocommerce Order Recevied

.woocommerce-order-received {
	.woocommerce-order {
		max-width: var(--container-md);
		margin-right: auto;
		margin-left: auto;

		.woocommerce-notice {
			text-align: center;
			font-weight: 600;
			font-size: 1.5rem;

			@media (min-width: 992px) {
				margin-bottom: calc(var(--wp--style--block-gap) * 2);
			}
		}

		.woocommerce-thankyou-order-failed-actions {
			margin-bottom: var(--wp--style--block-gap);

			.button {
				@extend .button-base;
			}

			.pay {
				@extend .button-success;
			}

			.myaccount {
				@extend .button-primary;
			}
		}

		&__card {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 1.5rem;
			text-align: center;
			border-radius: 0.5rem;
			@extend .box-shadow;

			@media (min-width: 992px) {
				padding: 1.5rem 3rem;
			}
		}

		&__payment-method {
			text-align: center;
		}
	}

	.woocommerce-order-overview {
		&__date,
		&__billing-address {
			margin-bottom: 1.5rem;
		}

		&__date {
			padding: 1rem;
			font-weight: 600;
			text-align: center;
			border-radius: 0.5rem;
			color: var(--wp--preset--color--success-dark);
			background-color: var(--wp--preset--color--success-light);

			@media (min-width: 992px) {
				padding: 1rem 3rem;
			}

			i {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				min-width: 2rem;
				min-height: 2rem;
				border-radius: 100%;
				background-color: var(--wp--preset--color--white);
			}

			svg {
				fill: var(--wp--preset--color--success-dark);
			}

			strong {
				font-weight: 800;
			}
		}

		&__total {
			font-size: 1.8rem;
			font-weight: 600;
			line-height: 1;
			margin-bottom: 0.25rem;

			@media (min-width: 992px) {
				font-size: 3rem;
			}
		}

		&__billing-address {
			font-size: 1rem;
		}
	}

	.woocommerce-order-details,
	.woocommerce-customer-details {
		width: 100%;
	}

	table {
		&.shop_table {
			border: 0;
			box-shadow: unset;

			.product-name,
			.product-price,
			.product-total {
				font-size: var(--wp--preset--font-size--normal);
			}

			.product-name {
				font-weight: 500;
				color: var(--wp--preset--color--featured);

				.wc-item-meta {
					margin-block-start: 0;
					padding-inline-start: 0;
				}
			}
		}
	}

	.woocommerce-customer-details {
		address {
			text-align: center;
			border: 0;
		}
	}
}
