/* Comments */

.comments {
	margin-top: 3rem;
	margin-bottom: 3rem;

	.comment-reply-title,
	.comments-title {
		font-size: 1.6rem;
		color: var(--wp--preset--color--black);
	}

	.comment-list {
		padding: 0;
	}

	.comment {
		list-style: none;
	}

	.comment-body {
		padding: 15px;
		margin-bottom: 1rem;
		background-color: #eee;
	}

	.comment-author {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		cite {
			font-style: normal;
			color: var(--wp--preset--color--black);
		}
	}

	.comment-reply-link {
		@extend .button;
	}

	.comment-form {
		.comment-form-cookies-consent {
			display: flex;
		}

		input[type="submit"] {
			@extend .button-primary;
		}

		input[type="checkbox"] {
			display: flex;
			flex: 2;
			margin: 0 0.5rem 0 0;
			min-width: 1.5rem;
		}
	}
}
