// Container

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

	// Extra small devices (portrait phones, less than 576px)
	@media (max-width: 575.98px) {
		max-width: var(--container-xs);
	}

	// Small devices (landscape phones, 576px and up)
	@media (min-width: 576px) and (max-width: 767.98px) {
		max-width: var(--container-sm);
	}

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) and (max-width: 991.98px) {
		max-width: var(--container-md);
	}

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) and (max-width: 1199.98px) {
		max-width: var(--container-lg);
	}

	// X-Large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) and (max-width: 1399.98px) {
		max-width: var(--container-xl);
	}

	// XX-Large devices (larger desktops, 1400px and up)
	@media (min-width: 1400px) {
		max-width: var(--container-xxl);
	}
}

.container-fluid {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
