// Entrys

.wp-block-cover__inner-container,
.entry-header,
.entry-content,
.entry-footer {
	width: 100% !important;

	& > *:not(.alignwide):not(.alignfull) {
		@extend .container;
	}

	.alignfull {
		max-width: 100%;
	}

	.alignwide {
		max-width: 92%;
		margin-left: auto;
		margin-right: auto;
	}
}
