// Navbar

.navbar {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--wp--preset--color--featured);
	background: var(--wp--preset--color--white);
	-webkit-transition: position 0.5s, top 0.5s, background 0.5s, box-shadow 0.5s;
	-moz-transition: position 0.5s, top 0.5s, background 0.5s, box-shadow 0.5s;
	-o-transition: position 0.5s, top 0.5s, background 0.5s, box-shadow 0.5s;
	transition: position 0.5s, top 0.5s, background 0.5s, box-shadow 0.5s;

	&.sticky {
		position: fixed;
		top: 0;
		width: 100%;
		background: var(--wp--preset--color--white);
		z-index: 1080;
	}

	.custom-logo {
		max-width: 130px;
	}
}

.navbar-toggler {
	padding: 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	cursor: pointer;

	.navbar-toggler-icon {
		display: inline-block;
		cursor: pointer;

		.bar1,
		.bar2,
		.bar3 {
			width: 35px;
			height: 5px;
			background-color: var(--wp--preset--color--base);
			margin: 6px 0;
			transition: 0.4s;
		}

		&.close {
			.bar1 {
				-webkit-transform: rotate(-45deg) translate(-9px, 7px);
				transform: rotate(-45deg) translate(-9px, 7px);
			}

			.bar2 {
				opacity: 0;
			}

			.bar3 {
				-webkit-transform: rotate(45deg) translate(-8px, -8px);
				transform: rotate(45deg) translate(-8px, -8px);
			}
		}
	}

	@media (min-width: 1200px) {
		display: none;
	}
}

.navbar-collapse {
	flex: 1;

	@media (max-width: 1199.98px) {
		position: absolute;
		top: 0;
		width: 80%;
		height: 100vh;
		padding: 4rem 0 2rem;
		background: var(--wp--preset--color--white);
		overflow-x: hidden;
		z-index: 1070;
		transition: 0.4s;
		@include box-shadow;

		&:not(.show) {
			left: -100%;
		}

		&.show {
			left: 0;
		}
	}
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;

	@media (max-width: 1199.98px) {
		& > .nav-item {
			margin-bottom: 0.875rem;
		}
	}

	@media (min-width: 1200px) {
		flex-direction: row;
		text-align: initial;
	}
}

.nav-item {
	@media (max-width: 1199.98px) {
		& > .nav-link {
			font-weight: 700;
		}
	}

	.nav-link,
	.dropdown-item {
		display: block;
		padding: 0.625rem 0;
		font-size: 1.15rem;
		text-decoration: none;

		@media (min-width: 1200px) {
			padding: 0.625rem 1.2rem;
		}
	}

	.dropdown-item {
		@media (min-width: 1200px) {
			padding: 1rem 1.4rem;
		}
	}

	&.active {
		& > .nav-link {
			color: var(--wp--preset--color--primary);
		}
	}

	&.button {
		padding: 0.8rem 0.875rem 0.6rem;
		font-weight: bold;
		border: 0;
		border-radius: 50px;
		background: var(--wp--preset--color--primary);

		@media (min-width: 1200px) {
			margin-left: 0.6rem;
		}

		& > .nav-link {
			padding: 0;
		}

		&.active,
		&:hover,
		&:focus,
		&:active {
			filter: brightness(92%);

			& > .nav-link {
				color: var(--wp--preset--color--white);
			}
		}
	}

	&:last-of-type {
		@media (min-width: 1200px) {
			.dropdown-menu {
				right: 0;

				border-top-left-radius: 0.5rem;
				border-top-right-radius: 0;
			}
		}
	}
}

.dropdown {
	position: relative;
	display: inline-block;
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;

	@media (max-width: 1199.98px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	@media (min-width: 1200px) {
		&:focus-within,
		&:hover,
		&:focus,
		&:active {
			&,
			& .dropdown-menu {
				@include box-shadow;
			}

			& .dropdown-menu {
				display: block;
			}

			.dropdown-toggle {
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 5px;
					background-color: var(--wp--preset--color--white);
					z-index: 1080;
				}
			}
		}
	}
}

.dropdown-toggle {
	@media (min-width: 1200px) {
		.nav-item & {
			padding-right: 1.9rem;
			padding-left: 1.4rem;
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 1rem;
			border-style: solid;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 2px;
			transform: translateY(-80%) rotate(45deg);
			-webkit-transform: translateY(-80%) rotate(45deg);

			@media (min-width: 1200px) {
				right: 0.95rem;
			}
		}
	}
}

.dropdown-menu {
	min-width: calc(100% + 2rem);
	padding: 0;
	list-style: none;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	z-index: 1070;

	@media (min-width: 1200px) {
		position: absolute;
		display: none;
		background-color: var(--wp--preset--color--white);
	}
}
