// Navbar Main

.navbar-main {
	.logged {
		.avatar {
			border-radius: 100%;
		}
	}

	&.mobile {
		.logged {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: center;
			gap: 1rem;
		}
	}

	&.desktop {
		display: none;
		visibility: hidden;
	}

	@media (min-width: 1200px) {
		&.mobile {
			display: none;
			visibility: hidden;
		}

		&.desktop {
			display: block;
			visibility: visible;
		}
	}
}
