// Navbar account

.nav-account {
	.dropdown-toggle {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	&.login {
		@media (min-width: 1200px) {
			color: var(--wp--preset--color--white);
			background-color: var(--wp--preset--color--primary);
			border-bottom-right-radius: 0.5rem;
			border-bottom-left-radius: 0.5rem;

			&:focus-within,
			&:hover,
			&:focus,
			&:active {
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;

				.dropdown-toggle {
					&::after {
						background-color: var(--wp--preset--color--primary);
					}
				}
			}

			.dropdown-menu {
				background-color: var(--wp--preset--color--primary);
			}
		}
	}

	.login-remember,
	.login-submit,
	.register-link,
	.lostpassword-link {
		text-align: right;
	}

	.login-submit {
		margin-bottom: 0;
	}

	.register-link,
	.lostpassword-link {
		display: block;
		padding: 0 1.2rem 1rem;
		font-size: var(--wp--preset--font-size--small);

		&:hover,
		&:active,
		&:focus {
			color: inherit;
		}
	}

	form {
		min-width: 300px;
		padding: 1rem 0;

		@media (min-width: 1200px) {
			padding: 1rem 1.2rem;
		}
	}

	label {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	input[type="text"],
	input[type="password"] {
		padding: 0.35rem 1rem;
		color: inherit;
		border: 2px solid var(--wp--preset--color--white);
		border-radius: 4rem;
		background-color: transparent;

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			box-shadow: 0 0 0 30px var(--wp--preset--color--primary) inset;
			-webkit-box-shadow: 0 0 0 30px var(--wp--preset--color--primary) inset;
			-webkit-text-fill-color: var(--wp--preset--color--white);
		}
	}

	input.button[type="submit"] {
		@extend .button-white;
		@extend .button-wide;
		padding-right: 1.9rem;
		padding-left: 1.9rem;
		font-weight: 400;
	}
}
