// Navbar Mobile

.navbar-mobile {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0;
	z-index: 99999;

	@media (min-width: 1200px) {
		display: none;
		visibility: hidden;
	}

	.navbar-togglers-list {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex: 1;
		gap: var(--wp--style--block-gap);
		list-style: none;
		margin: 0;
		padding: 1rem 0;
		@extend .box-shadow-even;
		background: var(--wp--preset--color--white);
		z-index: 1070;

		li {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2rem;
			height: 2rem;
		}

		i {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		svg {
			fill: var(--wp--preset--color--featured);
			transform: scale(1.15);
		}
	}

	.navbar-toggler {
		border: 0;
		border-radius: 0;
	}

	.navbar-collapse {
		@media (max-width: 1199.98px) {
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			height: calc(100vh - 3.875rem);
			padding-top: calc(var(--wp--style--block-gap) * 2);
			padding-left: calc(var(--wp--style--block-gap) / 2);
			padding-bottom: var(--wp--style--block-gap);
			padding-right: calc(var(--wp--style--block-gap) / 2);
			background: var(--wp--preset--color--white);
			@include box-shadow-even;
			overflow-x: hidden;
			z-index: 1060;
			transition: 0.4s;

			&.show {
				transform: translateY(-100%);
			}

			&.search {
				&.show {
					transform: translateY(-50%);
				}
			}
		}
	}

	.search-form,
	.woocommerce-product-search {
		align-items: stretch;
		flex-direction: column;
	}
}
