// Pagination & Post Navigation

.pagination,
.post-navigation {
	.nav-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
		width: 100%;
		font-size: 1.2rem;

		@media (min-width: 992px) {
			justify-content: flex-end;
		}
	}
}

.pagination {
	margin-top: 2rem;
	margin-bottom: 2rem;

	.page-numbers {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 2rem;
		min-height: 2rem;
		line-height: 1;
		border: 0;

		&.current {
			font-weight: 600;
			color: var(--wp--preset--color--primary);
		}

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
		}
	}
}
