// Post

.post-excerpt {
	.post-excerpt__header {
		margin-bottom: 1rem;
	}

	.post-excerpt__title {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		margin-bottom: 0;
		font-size: 2.6rem;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;

		@media (min-width: 768px) {
			text-align: initial;
		}
	}

	.post-excerpt__meta {
		color: var(--wp--preset--color--featured);
		text-align: center;

		@media (min-width: 768px) {
			text-align: initial;
		}
	}

	.post-excerpt__content {
		font-size: 1rem;
		text-align: center;

		@media (min-width: 768px) {
			text-align: initial;
		}
	}

	.post-excerpt__footer {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		flex: 1;

		@media (min-width: 768px) {
			justify-content: flex-start;
		}

		.read-more-link {
			display: flex;
			align-items: center;
			gap: 1.5rem;
			line-height: 1;
			font-size: 1.6rem;
			font-weight: bold;

			i {
				color: var(--wp--preset--color--primary);
			}
		}
	}
}
