/* Related posts */

.related {
	margin-top: var(--wp--style--block-gap);
	margin-bottom: var(--wp--style--block-gap);

	&__title {
		font-size: 1.6rem;
		color: var(--wp--preset--color--black);
	}

	&__grid {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(1, 1fr);
		align-items: flex-start;

		@media (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 992px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

.related-post {
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}

	&__title {
		margin-bottom: 0;
		font-size: 1.1rem;
		color: var(--wp--preset--color--black);

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}

	&__meta {
		font-size: 0.95rem;
		color: var(--wp--preset--color--featured);
	}
}
