// Search Form

.search-form {
	display: flex;
	gap: calc(var(--wp--style--block-gap) / 2);
	align-items: center;
	justify-content: space-evenly;

	svg {
		fill: var(--wp--preset--color--primary);
	}

	.search-label {
		font-size: var(--wp--preset--font-size--normal);
		color: var(--wp--preset--color--base);
	}

	.search-field {
		margin-top: calc(var(--wp--style--block-gap) / 2);
	}

	.search-submit {
		@extend .button-primary;
		height: 100%;
		padding-right: 1.6rem;
		padding-left: 1.6rem;
	}
}
