/* Select2 */

.select2-border {
	border: 0;
}

.select2-container {
	.select2-selection--single {
		height: 3.403rem;
		padding: 0.875rem 1rem;
		background: var(--wp--preset--color--background);

		@extend .select2-border;

		.select2-selection__rendered {
			text-align: left;
			line-height: 1.5;
			padding: 0;
			color: var(--wp--preset--color--black);
		}

		.select2-selection__arrow {
			height: 3.403rem;
			right: calc(var(--wp--style--block-gap) / 2);
		}
	}

	&--open {
		.select2-dropdown--below {
			@extend .select2-border;
		}
	}

	.select2-search--dropdown {
		.select2-search__field {
			@extend .select2-border;
		}
	}
}
