// Archive

.woocommerce,
.woocommerce-page {
	&.archive {
		.woocommerce-products-header {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
			gap: 1rem;
			min-height: 190px;
			margin-bottom: 2rem;
			padding: 2rem;
			border-radius: 0.5rem;
			color: var(--wp--preset--color--white);
			background-color: var(--wp--preset--color--primary);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 100%;
				border-radius: inherit;
				background: linear-gradient(
					180deg,
					rgba(var(--wp--preset--color--white), 0) 0%,
					rgba(var(--wp--preset--color--secondary), 1) 100%
				);
			}

			&__title {
				margin: 0;
				font-weight: 600;
				line-height: 1;

				@media (min-width: 992px) {
					font-size: 3em;
				}
			}

			&__title,
			.term-description {
				z-index: 1070;
			}
		}

		.woocommerce-products-sub-header {
			display: grid;
			grid: auto / 100%;
			grid-template-areas:
				"notices "
				"search"
				"ordering"
				"count ";
			gap: 0.5rem 1rem;

			@media (min-width: 768px) {
				grid: auto / 60% 40%;
				grid-template-areas:
					"notices notices "
					"search  ordering"
					"count . ";
			}

			@media (min-width: 992px) {
				grid: auto / 50% minmax(0, 1fr) 30%;
				grid-template-areas:
					"notices notices notices"
					"search . ordering"
					"count . .";
			}
		}

		.woocommerce-result-count,
		.woocommerce-ordering {
			float: unset;
			margin-bottom: 0;
		}

		.woocommerce-error,
		.woocommerce-info,
		.woocommerce-message {
			margin-bottom: 0.5rem;
		}

		.woocommerce-notices-wrapper {
			grid-area: notices;
		}

		.woocommerce-product-search {
			grid-area: search;
		}

		.woocommerce-ordering {
			grid-area: ordering;
		}

		.woocommerce-result-count {
			grid-area: count;
		}

		ul.products {
			margin: 0;
			padding-top: 5rem;
			padding-bottom: 2rem;
		}
	}
}
