// WooCommerce Customer Details

.woocommerce,
.woocommerce-page {
	.woocommerce-customer-details {
		h2 {
			padding-bottom: calc(var(--wp--style--block-gap) / 2);
			font-weight: 700;
		}

		.addresses {
			display: flex;
			flex-direction: column;
			gap: var(--wp--style--block-gap);

			&.col2-set {
				.col-1,
				.col-2 {
					float: unset;
					width: 100%;
				}
			}
		}

		address {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			flex: 1;
			border-radius: 0;
			border: 1px solid var(--wp--preset--color--primary);
		}
	}
}
