a {
	color: inherit;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;

	&:hover,
	&:active,
	&:focus {
		text-decoration: underline;
		color: var(--wp--preset--color--primary);
	}
}
