// WooCommerce Product Gallery

.woocommerce {
	div.product {
		div.images.woocommerce-product-gallery {
			float: unset;
			width: 100%;
			margin-bottom: 0;

			div.flex-viewport {
				margin-bottom: 0;
				border-radius: 0.5rem;
			}

			.woocommerce-product-gallery__image {
				&,
				img {
					aspect-ratio: 1 / 1;
					object-fit: cover;
				}
			}

			&.woocommerce-product-gallery--without-multiples-images {
				img {
					border-radius: 0.5rem;
				}
			}

			&.woocommerce-product-gallery--with-multiples-images {
				&.woocommerce-product-gallery {
					display: flex;
					flex-direction: column;

					@media (min-width: 992px) {
						flex-direction: row-reverse;
					}
				}

				div.flex-viewport {
					margin-bottom: 1rem;

					@media (min-width: 992px) {
						width: calc(80% - 1rem);
						margin-left: 1rem;
						margin-bottom: 0;
					}
				}

				ol.flex-control-thumbs {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					gap: 1rem;

					max-height: 536px;

					@media (min-width: 992px) {
						display: flex;
						flex-direction: column;
						width: 20%;
						overflow: scroll;
					}

					li {
						width: 100%;

						img {
							border-radius: 0.5rem;
						}
					}

					&::-webkit-scrollbar {
						display: none;
					}
				}
			}
		}
	}
}
