/* WooCommerce Reviews */

.woocommerce {
	.reviews {
		ol.commentlist {
			padding: 0;

			li {
				img.avatar {
					width: 45px !important;
					padding: 0 !important;
					border: 0 !important;
					border-radius: 100%;
				}
			}
		}

		.comment-respond {
			.comment-form {
				display: grid;
				grid-template-columns: 100%;
				grid-template-areas:
					"notes"
					"rating"
					"author"
					"email"
					"comment"
					"consent"
					"submit";
				gap: 1rem;

				@media (min-width: 992px) {
					grid-template-columns: repeat(4, 1fr);
					grid-template-areas:
						"notes notes notes notes"
						"rating rating rating rating"
						"author author email email"
						"comment comment comment comment"
						"consent consent consent submit";
				}

				p {
					margin: 0 !important;

					&.stars {
						span {
							display: flex;
							gap: 0.5rem;
						}

						a {
							&,
							&::before {
								height: 1.6rem;
								width: 1.6rem;
								font-size: 1.6rem;
								color: #fec007;

								@media (min-width: 992px) {
									height: 2rem;
									width: 2rem;
									font-size: 2rem;
								}
							}
						}
					}
				}

				input[type="text"],
				input[type="email"],
				textarea {
					margin-top: 1rem;
				}
			}

			.comment-reply-title {
				font-size: 1.875rem;
				font-weight: 600;
			}

			.comment-notes {
				grid-area: notes;
			}

			.comment-form-rating {
				grid-area: rating;

				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 1.5rem;

				label {
					width: unset;
				}
			}

			.comment-form-comment {
				grid-area: comment;
			}

			.comment-form-author {
				grid-area: author;
			}

			.comment-form-email {
				grid-area: email;
			}

			.comment-form-cookies-consent {
				grid-area: consent;

				display: flex;
				align-items: center;
			}

			.form-submit {
				grid-area: submit;

				display: flex;
				justify-content: flex-end;
			}
		}
	}
}
