// WooCommerce Product Search

.woocommerce-product-search {
	display: flex;
	gap: calc(var(--wp--style--block-gap) / 2);
	align-items: center;
	justify-content: space-evenly;

	button[type="submit"],
	input[type="submit"] {
		@extend .button-primary;
		height: 100%;
		padding-right: 1.6rem;
		padding-left: 1.6rem;
	}

	svg {
		fill: var(--wp--preset--color--primary);
	}

	.search-field-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		width: 100%;
		padding: 0.875rem 1rem;
		border-radius: 0.5rem;
		background: var(--wp--preset--color--background);
	}

	.search-field {
		padding: 0;
		border-radius: 0;
		background: transparent;
		outline: 0;
	}
}
