// Woocommerce Product Columns

$grid-columns: (
	"1": 1,
	"2": 2,
	"3": 3,
	"4": 4,
	"5": 5,
	"6": 6,
);

.woocommerce,
.woocommerce-page {
	ul.products {
		display: grid;
		gap: 2rem 4rem;
		grid-template-columns: 100%;

		&[class*="columns-"] {
			&::before,
			&::after {
				content: unset;
			}

			li.product {
				position: relative;
				width: 100%;
				margin: 0;

				&::after {
					content: unset;
					position: absolute;
					top: 0;
					right: -2rem;
					display: block;
					width: 1px;
					height: 100%;
					border-right-width: 1px;
					border-right-style: solid;
					border-right-color: var(--wp--preset--color--featured);
					opacity: 0.3;
				}
			}
		}

		@media (min-width: 768px) and (max-width: 991.98px) {
			grid-template-columns: repeat(2, 1fr);

			li.product {
				&:nth-child(2n + 0) {
					&::after {
						content: "";
					}
				}
			}
		}

		@media (min-width: 992px) {
			@each $name, $size in $grid-columns {
				&.columns-#{$name} {
					grid-template-columns: repeat($size, 1fr);

					li.product {
						&:not(:nth-child(#{$size}n + 0)) {
							&::after {
								content: "";
							}
						}
					}
				}
			}
		}
	}
}
