// WooCommerce Pagination

.woocommerce {
	nav.woocommerce-pagination {
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			font-size: 1.2rem;
			border: 0;

			@media (min-width: 992px) {
				justify-content: flex-end;
			}

			li {
				border: 0;

				a,
				span {
					padding: 0.8rem 1.2rem;
				}

				a {
					color: var(--wp--preset--color--base);

					&:hover,
					&:focus,
					&:active {
						color: var(--wp--preset--color--primary);
						text-decoration: none;
						background-color: unset;
					}
				}

				span.current {
					font-weight: 600;
					color: var(--wp--preset--color--primary);
					background-color: unset;
				}

				svg {
					transform: scale(1.5);
				}
			}
		}
	}
}
