// Woocommerce Product

// Note: These selectors need to be used to override WooCommerce defaults
.woocommerce,
.woocommerce-page {
	ul.products {
		li.product-category {
			position: relative;

			a {
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 8px;
					background: linear-gradient(0deg, var(--wp--preset--color--secondary) 0%, transparent 100%);
				}
			}

			img {
				width: 100%;
				height: 100% !important;
				border-radius: 0.5rem;
				object-fit: cover;
			}

			mark {
				color: var(--wp--preset--color--white);
				background: unset;
			}

			.woocommerce-loop-category__title {
				position: absolute;
				left: 0;
				bottom: 0;
				padding: 1rem;
				font-weight: 500;
				color: var(--wp--preset--color--white);
			}
		}

		li.product {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.price {
				display: flex;
				align-items: center;
				gap: 0.8rem;
				font-size: 1.2rem;
				font-weight: 600;
				color: var(--wp--preset--color--black);

				ins {
					color: var(--wp--preset--color--success);
					text-decoration: none;
				}

				del {
					order: 99;
					font-size: 0.9rem;
					font-weight: normal;
					color: var(--wp--preset--color--featured);
				}
			}

			.button {
				@extend .button-with-icon;
				width: 100%;
				margin: 0;
				padding: 0;
				font-size: var(--wp--preset--font-size--small);

				.icon {
					display: flex;
					transform: scale(0.7);
				}
			}

			.unavailable-notice {
				font-size: var(--wp--preset--font-size--small);
				color: var(--wp--preset--color--error);
			}
		}
	}
}

.woocommerce-loop-product {
	&__link {
		display: grid;
		grid: auto / minmax(0, 1fr) 40%;
		grid-template-areas: "infos image";
		gap: 1rem;
	}

	img,
	&__thumbnail {
		grid-area: image;

		border-radius: 8px;
	}

	&__infos {
		grid-area: infos;

		display: flex;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 2rem;
		padding: 0;
		font-size: 1.2rem;
		font-weight: 600;
	}

	&__excerpt {
		font-size: 0.9rem;
		color: var(--wp--preset--color--featured);
	}

	&__price {
		order: 99;
	}

	&__buy {
		display: grid;
		grid: auto / minmax(0, 1fr) 60%;
		grid-template-areas: "qtd btn";
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem 1.5rem;

		.quantity {
			grid-area: qtd;
			width: 100%;
		}

		.button {
			grid-area: btn;
		}
	}

	.added_to_cart {
		display: none !important;
		padding: 0 !important;
		font-size: 0.8rem;
		text-align: center;
	}
}
