// Footer
.footer {
	font-size: 0.875rem;
	background: var(--wp--preset--color--background);
	color: var(--wp--preset--color--base);
}

.footer-widgets {
	padding: 2rem 0;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1rem;
		text-align: center;

		@media (min-width: 992px) {
			flex-direction: row;
			text-align: initial;
		}
	}

	.widget {
		ul {
			list-style: none;
			padding-inline-start: 0;
		}

		li {
			margin-bottom: 15px;
		}

		.widget-title {
			color: var(--wp--preset--color--primary);
			font-weight: bold;
		}

		.wp-block-social-links {
			@media (max-width: 991.98px) {
				justify-content: center;
			}
		}
	}
}

.footer-copyright {
	font-weight: 500;
	background-color: var(--wp--preset--color--white);

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 0;
		flex-direction: column;
		gap: 1rem;
		text-align: center;

		@media (min-width: 992px) {
			flex-direction: row;
			text-align: initial;
		}
	}

	span {
		display: flex;
		align-items: center;
		line-height: 1;
	}

	.developer-brand {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
