// Types

body {
	font-family: var(--wp--preset--font-family--work-sans);
	font-size: var(--wp--preset--font-size--normal);
	-webkit-font-smoothing: antialiased;
	line-height: var(--wp--custom--line-height--body);
	color: var(--wp--preset--color--base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	line-height: var(--wp--custom--line-height--heading);
}

b,
strong {
	font-weight: 700;
}
