// Block Gallery

.blocks-gallery-grid,
.wp-block-gallery {
	ul {
		padding: 0 !important;
	}

	.blocks-gallery-image,
	.blocks-gallery-item {
		@media (max-width: 767.98px) {
			width: 100% !important;
			margin: 0 0 1em 0;
		}
	}

	@media (min-width: 768px) {
		&.columns-3 {
			.blocks-gallery-image,
			.blocks-gallery-item {
				max-width: calc(33.33333% - 0.66667em);
				width: 100%;
			}
		}

		&.columns-4 {
			.blocks-gallery-image,
			.blocks-gallery-item {
				max-width: calc(25% - 0.75em);
				width: 100%;
			}
		}

		&.columns-5 {
			.blocks-gallery-image,
			.blocks-gallery-item {
				max-width: calc(20% - 0.8em);
				width: 100%;
			}
		}

		&.columns-6 {
			.blocks-gallery-image,
			.blocks-gallery-item {
				max-width: calc(16.66667% - 0.83333em);
				width: 100%;
			}
		}

		&.columns-7 {
			.blocks-gallery-image,
			.blocks-gallery-item {
				max-width: calc(14.28571% - 0.85714em);
				width: 100%;
			}
		}

		&.columns-8 {
			.blocks-gallery-image,
			.blocks-gallery-item {
				max-width: calc(12.5% - 0.875em);
				width: 100%;
			}
		}
	}
}
