// Block Tag Cloud

.wp-block-tag-cloud {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	text-align: center;

	@media (min-width: 576px) {
		text-align: inherit;
	}

	a {
		display: inline-block;
		padding: 8px;
		margin: 0;
		font-size: 1em !important;
		text-decoration: none;
		text-transform: uppercase;
		border: 2px solid var(--wp--preset--color--black);
		color: var(--wp--preset--color--black);

		&:hover,
		&:active,
		&:focus {
			color: var(--wp--preset--color--white);
			background-color: var(--wp--preset--color--black);
			text-decoration: none;
		}
	}
}
