// Block Search

.wp-block-search {
	&__inside-wrapper {
		width: 100%;
		border-top: 0 !important;
		border-right: 0 !important;
		border-left: 0 !important;
	}

	&__button,
	&__icon-button,
	&__icon-text {
		background-color: inherit !important;
		color: inherit !important;
		border: 0 !important;
	}

	&__icon-button {
		width: 100%;
	}
}
