// WP Block Separator

// .wp-block[data-align="center"] {
// 	.wp-block-separator {
// 		margin-left: auto !important;
// 		margin-right: auto !important;
// 	}
// }

// .wp-block-separator {
// 	margin-left: unset !important;
// 	margin-right: unset !important;
// 	opacity: 1;

// 	&.aligncenter {
// 		margin-left: auto !important;
// 		margin-right: auto !important;
// 	}

// 	&.is-style-wide {
// 		border-bottom-width: 2px;
// 		width: 60%;
// 		max-width: 460px !important;
// 	}

// 	&.has-background:not(.is-style-dots),
// 	&.has-background:not(.is-style-wide):not(.is-style-dots) {
// 		height: 2px;
// 		border-bottom: none;
// 	}

// 	&:not(.is-style-dots) {
// 		border-bottom: 2px solid;
// 	}
// }
