// 404 Error Page

.error404 {
	.error-message {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: calc(100vh - 115px);
		text-align: center;
		color: var(--wp--preset--color--base);

		& > span {
			font-size: 4rem;
			font-weight: 600;
			line-height: 1;
			color: var(--wp--preset--color--primary);

			@media (min-width: 992px) {
				font-size: 8rem;
			}
		}

		.page-title {
			margin-bottom: 2rem;
			font-weight: 500;
		}

		& > p {
			font-size: 1.4em;
			margin-bottom: 2rem;
		}

		& > a {
			@extend .button-outline;
			@extend .button-wide;
		}
	}

	.cart-float-button {
		display: none;
		visibility: hidden;
	}
}
