/* Blog */

.blog {
	main {
		display: grid;
		grid: auto / 100%;
		grid-template-areas:
			"posts"
			"pagination"
			"sidebar";
		gap: 4rem;
		margin-bottom: 3rem;

		@media (min-width: 992px) {
			gap: 3rem;
			grid: auto / minmax(0, 1fr) 30%;
			grid-template-areas:
				"posts sidebar"
				"pagination sidebar";
		}

		.posts-grid {
			grid-area: posts;
		}

		.blog-sidebar {
			grid-area: sidebar;
		}
	}
}
