// Single Template

.single {
	&.post-template-fullwidth {
		main {
			grid: auto / 100%;
			grid-template-areas:
				"content"
				"related";

			.single-content {
				grid-area: content;
			}

			.related {
				grid-area: related;
			}
		}
	}
}
