// Single Template

.single:not(.single-product) {
	main {
		display: grid;
		grid: auto / 100%;
		grid-template-areas:
			"content"
			"related"
			"sidebar";
		gap: 4rem;
		margin-bottom: 3rem;

		@media (min-width: 992px) {
			gap: 3rem;
			grid: auto / minmax(0, 1fr) 30%;
			grid-template-areas:
				"content sidebar"
				"related related";
		}

		.single-content {
			grid-area: content;
		}

		.related {
			grid-area: related;
		}

		.blog-sidebar {
			grid-area: sidebar;
		}
	}

	&.post-template-default {
		.entry-header,
		.entry-content,
		.entry-footer {
			& > *:not(.alignwide):not(.alignfull) {
				padding-left: 0;
				padding-right: 0;
			}

			.alignwide,
			.alignfull {
				max-width: 100%;
			}
		}
	}

	.entry-header {
		.entry-title {
			margin-bottom: 0;
			font-size: 2.6rem;
		}

		.entry-meta {
			color: var(--wp--preset--color--featured);
		}
	}

	.entry-footer {
		color: var(--wp--preset--color--featured);
	}
}
