// Box Shadow

@mixin box-shadow {
	box-shadow: 0 3px 6px rgb(0, 0, 0, 0.06), 0 3px 6px rgb(0, 0, 0, 0.03);
}

@mixin box-shadow-even {
	box-shadow: 0 0 6px rgb(0, 0, 0, 0.06), 0 0 6px rgb(0, 0, 0, 0.03);
}

.box-shadow {
	@include box-shadow;
}

.box-shadow-even {
	@include box-shadow-even;
}
