/* Button */

.button-base {
	min-height: 2rem;
	font-weight: 600;
	font-size: var(--wp--preset--font-size--normal);
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.5rem;
	box-sizing: border-box;
	transition: all 0.15s ease-in-out;

	&:hover,
	&:active,
	&:focus {
		filter: brightness(95%);
		cursor: pointer;
	}
}

@mixin button-wide {
	padding: 0.875rem 3.75rem;
}

.button-wide {
	@include button-wide;
}

.button-outline {
	@extend .button-base;

	color: var(--wp--preset--color--primary);
	border-color: var(--wp--preset--color--primary);
	background: transparent;

	svg {
		fill: var(--wp--preset--color--primary);
	}

	&:hover,
	&:active,
	&:focus {
		color: var(--wp--preset--color--primary);
		border-color: var(--wp--preset--color--primary);
		border: 1px solid var(--wp--preset--color--primary);
		background: transparent;
	}
}

.button-white {
	@extend .button-base;

	color: var(--wp--preset--color--base);
	border-color: var(--wp--preset--color--white);
	background: var(--wp--preset--color--white);

	svg {
		fill: var(--wp--preset--color--base);
	}

	&:hover,
	&:active,
	&:focus {
		color: var(--wp--preset--color--base);
		border-color: var(--wp--preset--color--white);
		background: var(--wp--preset--color--white);
	}
}

.button-primary {
	@extend .button-base;

	color: var(--wp--preset--color--white);
	border-color: var(--wp--preset--color--primary);
	background: var(--wp--preset--color--primary);

	svg {
		fill: var(--wp--preset--color--white);
	}

	&:hover,
	&:active,
	&:focus {
		color: var(--wp--preset--color--white);
		border-color: var(--wp--preset--color--primary);
		background: var(--wp--preset--color--primary);
	}
}

.button-secondary {
	@extend .button-base;

	color: var(--wp--preset--color--white);
	border-color: var(--wp--preset--color--secondary);
	background: var(--wp--preset--color--secondary);

	svg {
		fill: var(--wp--preset--color--white);
	}

	&:hover,
	&:active,
	&:focus {
		color: var(--wp--preset--color--white);
		border-color: var(--wp--preset--color--secondary);
		background: var(--wp--preset--color--secondary);
	}
}

.button-tertiary {
	@extend .button-base;

	color: var(--wp--preset--color--white);
	border-color: var(--wp--preset--color--tertiary);
	background: var(--wp--preset--color--tertiary);

	svg {
		fill: var(--wp--preset--color--white);
	}

	&:hover,
	&:active,
	&:focus {
		color: var(--wp--preset--color--white);
		border-color: var(--wp--preset--color--tertiary);
		background: var(--wp--preset--color--tertiary);
	}
}

.button-success {
	@extend .button-base;

	color: var(--wp--preset--color--success-dark);
	border-color: var(--wp--preset--color--success-light);
	background: var(--wp--preset--color--success-light);

	svg {
		fill: var(--wp--preset--color--success-dark);
	}

	&:hover,
	&:active,
	&:focus {
		color: var(--wp--preset--color--success-dark);
		border-color: var(--wp--preset--color--success-light);
		background: var(--wp--preset--color--success-light);
	}
}

.button-info {
	@extend .button-base;

	color: var(--wp--preset--color--white);
	border-color: var(--wp--preset--color--info);
	background: var(--wp--preset--color--info);

	svg {
		fill: var(--wp--preset--color--white);
	}

	&:hover,
	&:active,
	&:focus {
		color: var(--wp--preset--color--white);
		border-color: var(--wp--preset--color--info);
		background: var(--wp--preset--color--info);
	}
}

.button-error {
	@extend .button-base;

	color: var(--wp--preset--color--white);
	border-color: var(--wp--preset--color--error);
	background: var(--wp--preset--color--error);

	svg {
		fill: var(--wp--preset--color--white);
	}

	&:hover,
	&:active,
	&:focus {
		color: var(--wp--preset--color--white);
		border-color: var(--wp--preset--color--error);
		background: var(--wp--preset--color--error);
	}
}

.button-with-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: calc(var(--wp--style--block-gap) / 2);

	.icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
