// WooCommerce Cart

.woocommerce-cart {
	h1,
	h2 {
		margin-bottom: var(--wp--style--block-gap);
		font-weight: 700;
	}

	h1 {
		font-size: var(--wp--preset--font-size--large);
	}

	h2 {
		font-size: var(--wp--preset--font-size--medium);
	}

	.cart {
		display: flex;
		flex-direction: column;
		gap: var(--wp--style--block-gap);

		.products-list {
			display: grid;
			grid-template-columns: 1fr;
			gap: var(--wp--style--block-gap);

			@media (min-width: 768px) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media (min-width: 992px) {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		.actions {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: var(--wp--style--block-gap);

			@media (min-width: 992px) {
				flex-direction: row;

				.button {
					&,
					&.disabled,
					&:disabled,
					&:disabled[disabled] {
						@include button-wide;
					}
				}
			}

			.coupon {
				display: flex;
				gap: var(--wp--style--block-gap);
			}
		}
	}

	.cart-collaterals {
		margin-top: var(--wp--style--block-gap);

		.cross-sells {
			margin-bottom: var(--wp--style--block-gap);
		}

		.cross-sells,
		.cart_totals {
			float: unset;
			width: 100%;
		}

		.wc-proceed-to-checkout {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;

			@media (min-width: 992px) {
				flex-direction: row;
			}

			.button {
				@extend .button-primary;
				@extend .button-wide;
			}
		}
	}
}
